body,h1,h2,h3,h4,h5,h6,p,ul,li,ol{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Oswald',sans-serif;
  /* height: 2000px;*/ /*for scroll bar */
  /* background-color: #333; */
  font-weight: 400;
  color: white;
  line-height: 1.5;
  /* height: 8000px; */
}

/*For whole DOM start*/
html{
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before , *:after{
  box-sizing: inherit;
}
ol,ul{
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}

Link{
  text-decoration: none;
}
/*For whole DOM end*/